{{ define "content" }}
	<article>
		{{ partial "header.html" . }}
		<h1>{{ .Title }}</h1>
		<video playsinline autoplay muted loop src="{{ .Params.movie }}"></video>
		{{ .Content }}
		<div class="proscons">
			<div>
				<h3>GOOD</h3>
				<ul>
					{{ range .Params.good }}
						<li>{{ . }}</li>
					{{ end }}
				</ul>
			</div>
			<div>
				<h3>BAD</h3>
				<ul>
					{{ range .Params.bad }}
						<li>{{ . }}</li>
					{{ end }}
				</ul>
			</div>
		</div>
		<div class="conclusion">
			<div class="score">
				<ul>
					{{ range (slice "masterpiece" "excellent" "great" "okay" "boring" "awful") }}
						{{ if eq . $.Params.verdict }} <li class="verdict-score"> {{ else }} <li> {{ end }}
							{{ index $.Site.Data.display . }}
						</li>
					{{ end }}
				</ul>
				<div class="verdict">
					<span>{{ index $.Site.Data.display .Params.verdict }}</span>
				</div>
			</div>
			<p class="summary">
				{{ .Params.summary }}
			</p>
		</div>
		<div class="infomation">
			<span class="title">タイトル: {{ .Params.product }}</span>
			<span class="author">作者: <a href="/tag/{{ .Params.author }}/">{{ .Params.author }}</a></span>
			<span class="release">リリース: <time pubdate="{{ dateFormat "2006年01月02日" .Params.release }}">{{ dateFormat "2006年01月02日" .Params.release }}</time></span>
			<span class="version">バージョン: {{ .Params.version }}</span>
			<span class="platform">プラットフォーム: {{ .Params.platform }}</span>
			<span class="price">価格: {{ .Params.price }}</span>
			<span class="language">言語: {{ .Params.language }}</span>
			<span class="reviewer">レビュアー: <a href="/{{ .Params.reviewer }}/">{{ index $.Site.Data.display .Params.reviewer }}</a></span>
			<span class="playtime">プレイ時間: {{ .Params.playtime }}</span>
		</div>
	</article>
{{ end }}
