$gothic: Meiryo, 'Osaka', 'Droid Sans', 'MS Gothic';
$mincho: 'Yu Mincho', 'HiraMinProN-W6', 'MS Mincho';
$font: Arial, 'HiraKakuProN-W6', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', Meiryo, 'Droid Sans', 'MS Gothic';

@media screen and (max-width:719px) {
	header {
		padding-left: 20px;
	}

	body .container {
		padding: 0px 20px;

		main {
			width: auto;

			.proscons {
				h3 {
					font-size: 18px;
				}

				ul {
					font-size: 15px;
				}
			}

			.conclusion {
				margin-left: -20px;

				.verdict {
					width: 120px;
					font-size: 58px;
				}
			}

			.infomation {
				font-size: 10px;
				margin: 20px -20px;

				span {
					margin-left: 20px;
				}
			}

			img, video {
				width: 100%;
			}
		}

		.spotlight {
			display: none;
		}
	}

	footer {
		font-size: 10px;

		address {
			margin-top: 8px;
		}
	}

	.tag, .publish-date {
		font-size: 10px;
	}

	.medium-header, h2 {
		font-size: 18px;
	}
	
	.small-header {
		font-size: 18px;
	}

	h1 {
		font-size: 18px;
	}

	p {
		font-size: 15px;
	}

	figcaption {
		font-size: 12px;
		font-weight: lighter;
	}
}

@media screen and (min-width:720px) {
	.tag, .publish-date {
		font-size: 15px;
	}

	h1 {
		font-size: 40px;
	}

	.medium-header, h2 {
		font-size: 26px;
	}
	
	.small-header {
		font-size: 20px;
	}

	p {
		font-size: 20px;
		font-weight: 500;
	}

	figcaption {
		font-size: 18px;
	}

	body .container {
		main {
			.proscons {
				display: flex;
				justify-content: space-between;

				h3 {
					font-size: 28px;
				}

				ul {
					font-size: 20px;
				}
			}

			.score .verdict {
				width: 150px;
				font-size: 72px;
			}

			.infomation {
				font-size: 14px;
				margin: 20px 0px;
			}

			img, video {
				width: 700px;
			}
		}

		.spotlight {
			display: block;
		}
	}

	footer {
		font-size: 15px;

		.container {
			display: flex;
			justify-content: space-between;
		}

		small {
			font-size: 14px;
		}
	}
}

@media screen and (min-width:720px) and (max-width:1099px) {
	header > h1 {
		width: 700px;
	}

	body .container {
		width: 700px;

		.spotlight {
			display: none;
		}
	}
}

@media screen and (min-width:1100px) {
	header > h1 {
		width: 1080px;
	}

	body .container {
		display: flex;
		justify-content: space-between;
		width: 1080px;

		main {
			width: 700px;
		}
	}
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: $font;
	color: #2c2e31;
	background-color: #fcfcfc;

	header {
		margin: 40px 0px;
		background-color: white;
		border-bottom: solid 1px #ddd;

		h1 {
			font-size: 96px;
			font-weight: 700;
			letter-spacing: -10px;
			margin: 0px auto;
		}
	}

	.container {
		margin: 0px auto;

		main {
			article {
				&:not(:first-child) {
					margin-top: 60px;
				}

				h1 {
					margin: 10px 0px;
				}

				.publish-date {
					float: right;
					color: #888;
				}

				a:not(.tag):not(.header) {
					text-decoration: underline;
				}

				figure {
					margin: 0px;

					figcaption {
						text-indent: 1em;
					}
				}

				.proscons {
					margin: 30px;

					h3 {
						margin: 0px;
						font-weight: 900;
					}

					ul {
						list-style: circle;
						margin: 0px;
						padding: 5px 0px 0px 25px;
					}
				}

				.conclusion {
					display: flex;

					.score {
						display: flex;
						font-family: $gothic;
						font-weight: 900;

						.verdict {
							display: flex;
							align-items: center;
							justify-content: center;
							font-family: $mincho;
							letter-spacing: -4px;
							color: #181818;
						}

						ul {
							list-style: none;
							display: grid;
							margin: 0px;
							padding: 0px;
							width: 40px;
							font-size: 14px;

							li {
								display: flex;
								justify-content: center;
								align-items: center;

								&.verdict-score {
									color: white;
									background-color: #181818;
								}
							}
						}
					}

					.summary {
						margin: 0px;
						padding: 10px;
					}
				}

				.infomation {
					display: grid;
					padding-top: 5px;
					border-top: 1px solid #181818;
					font-weight: bold;
					font-family: $gothic;

					.title {
						grid-column: 1 / 2;
						grid-row: 1 / 2;
					}

					.release {
						grid-column: 2 / 3;
						grid-row: 1 / 2;
					}

					.reviewer {
						grid-column: 3 / 4;
						grid-row: 1 / 2;
					}

					.author {
						grid-column: 1 / 2;
						grid-row: 2 / 3;
					}

					.platform {
						grid-column: 2 / 3;
						grid-row: 2 / 3;
					}

					.playtime {
						grid-column: 3 / 4;
						grid-row: 2 / 3;
					}

					.version {
						grid-column: 1 / 2;
						grid-row: 3 / 4;
					}

					.language {
						grid-column: 2 / 3;
						grid-row: 3 / 4;
					}
				}
			}
		}

		.spotlight {
			width: 300px;

			article {
				&:not(:first-child) {
					padding-top: 10px;
					border-top: 1px solid #ddd;
				}

				h1 {
					line-height: 26px;

				}
				video {
					width: 300px;
					margin: 10px 0px;
				}
			}
		}
	}
	
	footer {
		color: white;
		margin-top: 20px;
		padding: 12px 0px;
		background-color: #181818;
		border-top: 1px solid #ddd;

		a, a:hover {
			color: white;
		}

		address > a:not(:first-child) {
			margin-left: 10px;
		}
	}
}

.tag {
	color: white;
	background-color: #2c2e31;
	font-weight: bold;
	padding: 3px 6px;

	&:hover {
		color: white;
		background-color: black;
	}
}

.pagination {
	list-style-type: none;
	display: flex;
	margin: 40px 0px;
	padding: 0px;

	li {
		margin-right: 10px;

		a {
			display: block;
			width: 45px;
			padding: 6px 0px;
			border: 1px solid #ddd;
			text-align: center;
			color: white;
			background-color: #181818;

			&:hover {
				background-color: black;
			}
		}

		&.current-page {
			cursor: text;

			a {
				pointer-events: none;
				border: 1px solid #ddd;
				color: #181818;
				background-color: white;
			}
		}
	}
}

h1, h2, footer {
	font-family: $gothic;
	margin: 0px;
}
h2 {
	padding-left: 10px;
	margin-top: 50px;
	border-left: 8px solid #181818;
}

img, video {
	border-radius: 15px;
}

a {
	color: #2c2e31;
	text-decoration: none;
}

a:hover {
	color: #d3222a;
}

p {
	font-family: $font;
	line-height: 1.6em;
	margin: 30px auto;
	text-indent: 1em;
}

address {
	font-style: normal;
}
