{{ $first := sub .Paginator.PageNumber .Paginator.First.PageNumber }}
{{ $last := sub .Paginator.Last.PageNumber .Paginator.PageNumber }}
<ul class="pagination">
	{{ if and (lt 9 .Paginator.TotalPages) (lt 4 $first) }}
		<li><a href="{{ .Paginator.First.URL }}">{{ .Paginator.First.PageNumber }}</a></li>
		{{ if (ne $first 5) }}
			<li>...</li>
		{{ end }}
	{{ end }}
	{{ range .Paginator.Pagers }}
		{{ $page := sub .PageNumber $.Paginator.PageNumber }}
		{{ if and (ge $page -4) (le $page 4) }}
			{{ if eq . $.Paginator }} <li class="current-page"> {{ else }} <li> {{ end }}
				<a href="{{ .URL }}">{{ .PageNumber }}</a>
			</li>
		{{ else if and (not (lt 4 $first)) (le $page (sub 8 $first)) }}
			<li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
		{{ else if and (not (lt 4 $last)) (ge $page (add -8 $last)) }}
			<li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
		{{ end }}
	{{ end }}
	{{ if and ((lt 9 .Paginator.TotalPages)) (lt 4 $last) }}
		{{ if (ne $last 5) }}
			<li>...</li>
		{{ end }}
		<li><a href="{{ .Paginator.Last.URL }}">{{ .Paginator.Last.PageNumber }}</a></li>
	{{ end }}
</ul>
